
@{
    ViewBag.Title = "KnownAssociates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3">
        <img src="~/images/Bonnie_and_Clyde.jpg" class="img-responsive" />
    </div>
    <div class="col-md-9">
        <h2>Known Associates</h2>
        <p>server compromise</p>

    </div>
</div>

@Html.Partial("BreadCrumbs")

