
@{
    ViewBag.Title = "Rank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <p>it's bad</p>        
    </div>
</div>

@Html.Partial("BreadCrumbs")