
@{
    ViewBag.Title = "WhyItsImportant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@@ WhyItsImportant</h2>
<div class="row">
    <div class="col-md-12">
        <p>
            Now that you know how scary SQL Injection can be, you might be wondering why we should be so worried about it.  After all, who would want some PHI?
            <br />
            As it turns out, A LOT of people.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>command injection is bad</p>
    </div>
</div>

@Html.Partial("BreadCrumbs")
